<div id="landing">
    <a asp-action="Generate" class="btn btn-lg btn-secondary">
        <i class="em em-man-lifting-weights" aria-role="presentation" aria-label=""></i>iGENERATE THIS WEEKS GET HENCH PLAN<i class="em em-man-lifting-weights" aria-role="presentation" aria-label=""></i>
    </a>
</div>